/* clicker button */

.form-table .clicker {
	font-size: 1.1em;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-transform: uppercase;
	font-weight: bold;
	background: #65a9d7;
	color: white;
	height: 2.6em;
	line-height: 2.5em;
	padding: 0 2em;
	text-shadow: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	margin-right: 6px;
	margin-bottom: 6px;
	border: 1px solid #ccc;
	display: inline-block;
	text-decoration: none;
}
.field-data .clicker {
	margin-bottom: 0;
}
.form-table .clicker:hover {
	background: #277699;
	color: #fff;
	cursor: pointer;
}

.form-table .clicker:active {
	border-top-color: #1b435e;
	background: #1b435e;
	text-shadow: none;
}

.form-table .clicker.neutral {
	background: #aaa;
	border-top: 1px solid #ccc;
	-webkit-box-shadow: rgba(50,50,50,1) 0 1px 2px;
	-moz-box-shadow: rgba(80,120,120,1) 0 1px 0;
	box-shadow: rgba(80,120,120,1) 0 1px 0;
}

.form-table .clicker.neutral:hover {
	border-top-color: #777;
	background: #555;
}


/* edit.php column styles */
.wp-list-table .column-thumb {
	padding: 6px;
/*	note: width is set dynamically depending on thumbnail size*/
}
.wp-list-table .column-thumb img {
	display: block;
	border: 1px solid #ddd;
	background: #eee;
	max-height: 200px;
	max-width: 200px;
}


/* settings page tweaks */
.somatic-options .form-table th {
	padding-left: 0;
	color: #666;
	font-weight: bold;
}
.somatic-options .form-table tr {
	border-bottom: 1px dotted #cdcdcd;
	display: block;
	padding: .5em 0 .5em 0;
}
.somatic-options .form-table tr:last-child {
	border-bottom: none;
}
.somatic-options .form-table .clicker {
	margin-top: 1em;
}

/* admin notice box mod */
div.success {
	background-color: #dfd;
	border-color: #006505;
}